<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Detalhes sobre o Socrates</h3>
        </div>
        <div class="modal-body">
            <p>
                Considerado um dos maiores nomes da Filosofia clássica, 
                junto com Platão e Aristóteles, Sócrates é famoso por ter contribuído para os primeiros 
                estudos dessa área, sendo considerado, inclusive, patrono da filosofia ocidental.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>